@import "tailwindcss";

@theme {
  --breakpoint-sm: 639px;
  /* --breakpoint-md: 767px; */
  --breakpoint-md: 767px;
  --breakpoint-lg: 1150px;
  --breakpoint-xl: 1200px;
}
@custom-variant dark (&:where(.dark, .dark *));

html{
  scroll-behavior: smooth !important;
}